<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://mysql.agh.edu.pl:3306/mpolak</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">mpolak</property>
        <property name="connection.password">qaRgq9UuRBHPxE9w</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL55Dialect</property>

        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="Entities.Doctor"></mapping>
        <mapping class="Entities.Medicine"></mapping>
        <mapping class="Entities.Prescription"></mapping>
        <mapping class="Entities.PrescriptionElement"></mapping>
        <mapping class="Entities.Patient"></mapping>
        <mapping class="Entities.Supplier"></mapping>
        <mapping class="Entities.PrescriptionElementID"></mapping>


    </session-factory>
</hibernate-configuration>

